@using BlazorEditorFramework.Core.Editor.Caching.Abstractions
@if (string.IsNullOrEmpty(objectUrl))
{
    <div>Loading...</div>
}
else
{
    <div>
        <img width="400px" height="300px" alt="Some image" src="@objectUrl"/>
    </div>
}

@code {

    private string? objectUrl = string.Empty;

    [Parameter] public string ImageUrl { get; set; } = default!;

    [Inject] public IImageCache ImageCache { get; set; } = default!;

    protected override async Task OnParametersSetAsync()
    {
        objectUrl = await ImageCache.GetObjectUrlAsync(ImageUrl);
    }

}